.bg-contain{
  background-size: contain !important;
}

.bg-cover{
  background-size: cover !important;
}

.bg-center{
  background-position: center !important;

  &-top{
    background-position: center top !important;
  }
  &-left{
    background-position: center left !important;
  }
  &-right{
    background-position: center right !important;
  }
  &-bottom{
    background-position: center bottom !important;
  }
}

$max: 105;
$step: 5;

// Create background colors with opacity for each color in theme-colors()
@each $color, $value in $theme-colors {
  @for $i from 1 through ceil($max/$step) {
      $num: ($i - 1)*$step;
      .bg-#{$color}-#{$num} {
        index: $i; value: $value;
        background-color: rgba($value, $num / 100);
      }
  }
}

@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(sm) {}
