h2{
  font-weight: 900;
}
a:not(.btn):not(.nav-link){
  text-decoration: underline;
}
.list-checkmark{
  list-style: none;
  padding: 0;
  li{
    position: relative;
    padding-left: 2rem;
    padding-top: .2rem;
    padding-bottom: .3rem;
    &:before{
      position: absolute;
      content: '';
      display: inline-block;
      vertical-align: middle;
      top: calc(50% - 12.5px);
      left: 0px;
      width: 25px;
      height: 25px;
      background-image: url('../images/assets-sprite.png');
      background-position: -330px -120px;
    }
  }
  &.list-inline{
    li{
      display: inline-block;
    }
  }
}
