.box-shadow{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1);
}
.overflow-hidden{
  overflow: hidden;
}

.img-round{
  border-radius: 9999px !important;
}
.img-rounded{
  border-radius: 3px !important;
}

@for $i from 0 through ceil(500/50) {
  $num: ($i - 0)*50;
  .z-#{$num} {
    z-index: $num !important;
  }
}
