@import "common/variables";
@import "common/mixins";
@import "common/global";

.acf-field{
  &.acf-heading{
    .acf-input *{
      font-family: 'Prompt', sans-serif;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      color: $blue;
    }
  }
  &.acf-profile{

  }
}
