body.login {
 background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}
body.login div#login h1 a {
  width: 240px;
  background-size: 220px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4OC4yIDM0LjkiPjxwYXRoIGNsYXNzPSJzaXRlLW5hdl9fbG9nby1maWxsIiBvcGFjaXR5PSIuNSIgZmlsbD0iI2ZmZiIgZD0iTTYuNyAwaDE1Ljd2MzQuOUg2Ljd6TTI1LjIgMGgxNS43djM0LjlIMjUuMnpNNDMuNyAwaDE1Ljd2MzQuOUg0My43ek03Mi41IDBoMTUuN3YzNC45SDcyLjV6Ij48L3BhdGg+PHBhdGggY2xhc3M9InNpdGUtbmF2X19sb2dvLWZpbGwiIGZpbGw9IiNmZmYiIGQ9Ik03Mi41IDBsLTYuNiA2LjZMNTkuNCAwdjIyLjhsNi41IDYuNSA2LjYtNi41ek01NS41IDE0LjdjMCA4LjEtNi42IDE0LjctMTQuNyAxNC43VjBDNDkgMCA1NS41IDYuNiA1NS41IDE0LjcgTTAgMGgyOS4xdjE3LjVIMHoiPjwvcGF0aD48L3N2Zz4=);
}
body.login div#login form#loginform {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1);
}
body.login div#login form#loginform input#user_login,
body.login div#login form#loginform input#user_pass {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body.login div#login form#loginform input#user_login:focus,
body.login div#login form#loginform input#user_pass:focus{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}
body.login div#login form#loginform p.submit input#wp-submit {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #00b0ff;
  border-color: #00b0ff;
  text-shadow: none;
  box-shadow: none;
}
body.login div#login form#loginform p.submit input#wp-submit:focus {
  box-shadow: 0 0 0 .2rem hsla(198.6, 100%, 50%, 0.5);
}
body.login div#login p#nav a,
body.login div#login p#backtoblog a {
  color: #fff;
}
body.login div#login p#nav a:hover,
body.login div#login p#backtoblog a:hover{
  color: #d2d2d2;
}
.login #login_error{
  border-radius: 3px;
  border-left: 8px solid #EF4836;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1);
}
.login .message{
  border-radius: 3px;
  border-left: 8px solid #57E3F2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1);
}
.login .success{
  border-radius: 3px;
  border-left: 8px solid #0BDA51;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1);
}
