.archive{
  &.post-type-archive-projecten{
    .project{
      border-radius: 3px;
      overflow: hidden;
      a{
        @extend .text-white;
      }
      &-featured-image{
        & > img{
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
        &:after{
          position: absolute;
          content:'';
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          background-color: rgba($blue, .6);
          transition: all .2s ease;
        }
      }
      &:hover{
        .project-featured-image:after{
          background-color: rgba($blue, .0);
        }
        .project-opdrachtgever-logo{
          opacity: 0;
        }
      }
      &-opdrachtgever-logo{
        position: absolute;
        text-align: center;
        white-space: nowrap;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 20;
        transition: all .2s ease;
        .helper{
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        img{
          vertical-align: middle;
          display: inline-block;
        }
      }
      &-titel{
        font-family: 'Roboto Mono', sans-serif;
        color: $white;
      }
      &-excerpt{
        color: $white;
      }
      // &:after{
      //   position: absolute;
      //   top:0;
      //   right:0;
      //   left:0;
      //   bottom: 0;
      //   content:'';
      //   transition: all .3s ease;
      //   background-color: rgba($blue, .6);
      //   z-index: 1;
      // }
      // &:hover:after{
      //   background-color: rgba($blue, .4)
      // }
    }
  }
}
