#footer{
  padding-top: 70px;
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  h6{
    color: $white;
  }
  .seperator{
    background-color: $blue-dark;
    height: 3px;
    width: 72px;
    margin-top: 34px;
    margin-bottom: 34px;
  }
  .nav{
    .nav-item{
      &.telefoon,
      &.email,
      &.adres{
        &:before{
          content:'';
          display:inline-block;
          vertical-align: middle;
          height: 25px;
          width: 25px;
          margin-right: 10px;
          outline: 2px solid $blue-light;
          background-position: center;
          background-repeat: no-repeat;
          background-color: $blue-light;
          background-image: url('../images/assets-sprite.png');
          background-position-y: -145px;
        }
        &:hover{
          &:before{
            outline: 2px solid $white;
            background-color: $white;
            background-position-y: -120px;
          }
        }
      }
      &.telefoon:before{
        background-position-x: -255px;
      }
      &.email:before{
        background-position-x: -305px;
      }
      &.adres:before{
        vertical-align: top;
        margin-top: 9px;
        background-position-x: -280px;
      }
      .nav-link{
        display: inline-block;
        color: $blue-light;
        &:hover{
          color:$white;
        }
      }
    }
  }
  .nav-copyright{
    margin-top: 16px;
    margin-bottom: 19px;
  }
}
