#footer{
  padding-top: 70px;
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  h6{
    color: $white;
  }
  .seperator{
    background-color: $blue-dark;
    height: 3px;
    width: 72px;
    margin-top: 34px;
    margin-bottom: 34px;
  }
  .nav{
    .nav-item{
      &.telefoon:before,
      &.email:before,
      &.adres:before{
        content:'';
        display:inline-block;
        vertical-align: middle;
        height: 27px;
        width: 27px;
        margin-right: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $blue-light;
      }
      &.telefoon:before{
        background-image: url('../images/icon/phone-white.png');
      }
      &.telefoon:hover:before{
        background-color: $white;
        background-image: url('../images/icon/phone-blue.png');
      }
      &.email:before{
        background-image: url('../images/icon/enveloppe-white.png');
      }
      &.email:hover:before{
        background-color: $white;
        background-image: url('../images/icon/enveloppe-blue.png');
      }
      &.adres:before{
        vertical-align: top;
        margin-top: 9px;
        background-image: url('../images/icon/marker-white.png');
      }
      &.adres:hover:before{
        background-color: $white;
        background-image: url('../images/icon/marker-blue.png');
      }
      .nav-link{
        display: inline-block;
        color: $blue-light;

        &:hover{
          color:$white;
        }
      }
    }
  }
  .nav-copyright{
    margin-top: 16px;
    margin-bottom: 19px;
  }
}
