.front-page{
  &.ervaringen{
    .slick-ervaringen{
      .slick-dots{
        list-style-type: none;
        padding: 0;
        margin: 0;

        li{
          display: inline-block;
          width: 14px;
          height: 14px;
          background-color: #dedede;
          margin-right: 7px;
          cursor: pointer;

          &.slick-active{
            background-color: #7fb5df;
          }
          button{
            width: 16px;
            height: 16px;
            background-color: transparent;
            color: transparent;
            font-size: 0;
            line-height: 0;
            border: 0;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md){
  .front-page{
    &.ervaringen{
      .title{
        border-right: 2px solid #7fb5df;
      }
    }
  }
}
