.home,
.archive{
  #header{
    @extend .bg-gray-300;
    @extend .bg-grid;
    .content{
      position: relative;
      color: $blue;
      font-weight: 400;
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      z-index: 0;
      &:after{
        display: block;
        position: absolute;
        content: " ";
        left: -200vw;
        bottom: 0px;
        transform: skew(-375deg);
        right: -50px;
        background-color: rgba(255,255,255,.7);
        top: 0px;
        z-index: -1;
      }
      h1{
        font-weight: 600;
      }
      p{
        margin-bottom: 1.6rem;
      }
    }
    .enumeration{
      padding-bottom: 4rem;
      text-align: center;
      span{
        font-family: 'Prompt', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: .1px;
        &.seperator{
          display: inline-block;
          height: 19px;
          width: 2px;
          background-color: $blue;
          vertical-align: middle;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
.page:not(.home),
.single:not(.home){
  #header{
    background-image: url('../images/background-pattern-dark.png'), url('../images/tpm-logo-composiet.png'), url('../images/background-blue-medium.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, contain, cover;
    background-blend-mode: normal, overlay, normal;
    .content{
      position: relative;
      color: $white;
      font-weight: 400;
      padding-top: 5rem;
      padding-bottom: 10rem;
      z-index: 0;
      h1,h2,h3,h4,h5,h6{
        color: $white;
      }
      p{
        margin-bottom: 1.6rem;
      }
      &:after{
        display: block;
        position: absolute;
        content: " ";
        left: -200vw;
        bottom: 0px;
        transform: skew(-375deg);
        right: 0px;
        background-color: rgba($blue-dark ,.45);
        top: 0px;
        z-index: -1;
      }
    }
  }
}
@include media-breakpoint-down(sm){
  .home{
    #header{
      padding-top: 1rem;
      padding-bottom: 1rem;
      img{
        max-width: 300px;
        margin-bottom: -1.6rem;
      }
      .content{
        position: relative;
        color: $white;
        font-weight: 400;
        margin: 0;
        padding: 0;
        &:after{
          display: none;
        }
        h1,
        a{
          color: $white;
        }
        h1{
          font-size: 2rem;
          br{
            display: none;
          }
        }
        p{
          margin-bottom: 1rem;
        }
      }
      .enumeration{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        text-align: left;
        span{
          position: relative;
          display: block;
          font-size: 1rem;
          color: $white;
          &:before{
            display:block;
            position: absolute;
            content:'';
            top: calc(50% - 12.5px);
            left: -2rem;
            width: 25px;
            height: 25px;
            background-image: url('../images/assets-sprite.png');
            background-position: -355px -145px;
          }
          &.seperator{
            display: none;
          }
        }
      }
    }
  }
}
