header{
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .navbar{
    &-nav{
      .nav-item{
        &:hover,
        &.active{
          .nav-link:after{
            background-color: #02183c;
          }
        }
      }
    }
  }
  .phone{
    position: relative;
    padding-left: 1.6rem !important;
    text-decoration: none;
    z-index: 1;
    &:before{
      position: absolute;
      content:'';
      top: calc(50% - 12.5px);
      left: 0;
      width: 25px;
      height: 25px;
      background-image: url('../images/assets-sprite.png');
      background-position: -255px -120px;
    }
    &:hover{
      &:before{
        background-position: -255px -145px;
      }
      &:after{
        position: absolute;
        content:'';
        height: 12px;
        background-color: #02183c;
        left: 0px;
        right: 0px;
        bottom: .48rem;
        z-index: -1;
      }
    }
  }
}
@include media-breakpoint-down(sm){
  .home{
    header{
      background-image: none !important;
    }
  }
  .navbar-toggler{
    &:before{
      content:'menu';
      color: $blue-light;
    }
  }
}
