.home{
  header{
    background-image: url('../images/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .navbar{
      &-nav{
        .nav-item{
          &:hover,
          &.active{
            .nav-link:after{
              background-color: #02183c;
            }
          }
        }
      }
    }
  }
}
header{
  .navbar{
    &-nav{
      .nav-item{
        margin-left: .6rem;
        margin-right: .6rem;

        &:hover,
        &.active{
          .nav-link:after{
            position: absolute;
            content:'';
            height: 12px;
            background-color: #c6e3fa;
            left: 0px;
            right: 0px;
            bottom: .48rem;
            z-index: -1;
          }
        }
        .nav-link{
          position: relative;
          font-weight: 500;
          letter-spacing: 0.01rem;
          color: $blue-light;
          z-index: 1;
        }
      }
    }
  }
}
