.layout{}
.blog-posts{
  background-color: #f5f6f7;

  .title{
    text-align: left;
  }
  .slick-blog{
    .slick-slide{
      width: 394px;
      height: 360px;
      padding: 17px;
      border-radius: 2px;

      .blog-item{
        padding: 38px;
        background-color: $white;
      }
    }
  }
}
.video-icons{
  .slick-gallery{
    .gallery-item{
      border-radius: 2px;

      .title{
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 0;
        color: $white;

        a{
          position: relative;
          text-transform: uppercase;
          color: #b5dcfc;
          padding: .4rem .8rem;
          text-decoration: none;

          &:after{
            position: absolute;
            content: "";
            height: 12px;
            background-color: #02183c;
            left: 0;
            right: 0;
            bottom: .3rem;
            z-index: -1;
          }
        }
      }
    }
    .slick-dots{
      position: absolute;
      right: 16px;
      bottom: 10px;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li{
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: #dedede;
        margin-left: 7px;
        cursor: pointer;

        &.slick-active{
          background-color: #7fb5df;
        }
        button{
          width: 16px;
          height: 16px;
          background-color: transparent;
          color: transparent;
          font-size: 0;
          line-height: 0;
          border: 0;
        }
      }
    }
  }
}
.content-tabs{
  .tabs-nav{
    .nav-link{
      &.active{
        border-bottom: 5px solid #7fb5df;
      }
    }
  }
  .tab-content{
    background-color: #f5f6f7;
    padding: 2rem;
  }
}
.projecten-en-opdrachtgevers{
  .seperator{
    height: 2px;
    width: 90px;
    background-color: $blue-light;
    margin-bottom: 4rem;
    margin-top: 2.5rem;
  }
  .slick-slide{
    width: 392px;
    height: 322px;
    padding: 16px;
    border-radius: 2px;
  }
  .project-item{
    position: relative;
    height: 290px;

    .project-opdrachtgever-logo{
      position: relative;
      text-align: center;
      white-space: nowrap;
      height: 200px;
      z-index: 20;

      .helper{
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img{
        vertical-align: middle;
        display: inline-block;
      }
    }
    .project-opdrachtgever{
      position: absolute;
      left: 28px;
      bottom: 48px;;
      z-index: 20;
      color: $blue-light;
    }
    .project-titel{
      position: absolute;
      left: 26px;
      bottom: 26px;
      z-index: 20;
      color: $white;
    }
    .background-image{
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 10;

      &:before{
        position: absolute;
        content:'';
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 11;
        background-color: rgba($blue, .6);
      }
    }
  }
  &:after{
    position: absolute;
    content:'';
    top: 0px;
    bottom: 0px;
    left: 100px;
    right: 0px;
    background-color: #f5f6f7;
    z-index: -1;
  }
}

@include media-breakpoint-up(md){
  .layout{
    &.blog-posts{
      background-color: #f5f6f7;

      .title{
        text-align: right;
        border-right: 2px solid #7fb5df;
        padding-right: 56px;
      }
      .positioned{
        position: absolute;
      }
    }
  }
}
