section{
  &.content-image{
    img{
      border-radius: 2px;
    }
  }
  &.profile{
    h3{
      span{
        display: block;
        color: $blue-light;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.8px;
      }
    }
    img{
      box-shadow: 0px 2px 8px -2px rgba($blue, .4);
    }
  }
  &.content-tabs{
    .tabs-nav{
      .nav-link{
        font-weight: 600;
        padding: .7rem 1.8rem;
        font-size: 1.2rem;
        &.active{
          border-bottom: 5px solid #7fb5df;
        }
      }
    }
    .tab-content{
      background-color: #f5f6f7;
      padding: 2.5rem;
    }
  }
  &.reviews{
    .slick-reviews{
      &:before{
        position: absolute;
        top: -6px;
        left: -28px;
        content:'';
        width: 51px;
        height: 26px;
        background-image: url('../images/assets-sprite.png');
        background-repeat: no-repeat;
        background-position: 0px -170px;
      }
      .review-item{
        font-size: 1.1rem;
        font-weight: 300;
        .handtekening{
          margin-top: 30px;
        }
      }
      .slick-dots{
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 26px;
        li{
          display: inline-block;
          width: 14px;
          height: 14px;
          background-color: #dedede;
          margin-right: 7px;
          cursor: pointer;
          &.slick-active{
            background-color: #7fb5df;
          }
          button{
            width: 16px;
            height: 16px;
            background-color: transparent;
            color: transparent;
            font-size: 0;
            line-height: 0;
            border: 0;
          }
        }
      }
    }
  }
  &.projects{
    &:after{
      position: absolute;
      content:'';
      top: 0px;
      bottom: 0px;
      left: 50vw;
      right: 0px;
      background-color: #f5f6f7;
      z-index: -1;
    }
    .container{
      position: relative;
      &:after{
        position: absolute;
        content:'';
        top: 0px;
        bottom: 0px;
        left: 100px;
        right: 0px;
        background-color: #f5f6f7;
        z-index: -1;
      }
    }
    .seperator{
      height: 2px;
      width: 90px;
      background-color: $blue-light;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
    .slick-projecten{
      &:before{
        position: absolute;
        top: -20px;
        right: 40px;
        padding-left: 25px;
        content:'Swipe';
        background-image: url('../images/assets-sprite.png');
        background-position: -405px -170px;
        background-repeat: no-repeat;
      }
      .slick-slide{
        width: 392px;
        height: 322px;
        padding: 16px;
        border-radius: 2px;
        &:first-of-type{
          width: 100px;
        }
        .project-item{
          position: relative;
          height: 290px;
          border-radius: 2px;
          overflow: hidden;
          box-shadow: 0 3px 5px -2px rgba($blue, .3);
          .project-opdrachtgever-logo{
            position: relative;
            text-align: center;
            white-space: nowrap;
            height: 200px;
            z-index: 20;
            .helper{
              display: inline-block;
              height: 100%;
              vertical-align: middle;
            }
            img{
              vertical-align: middle;
              display: inline-block;
            }
          }
          .project-opdrachtgever{
            position: absolute;
            top: 205px;;
            left: 28px;
            font-size: 1.4rem;
            font-weight: 600;
            color: $blue-light;
            z-index: 20;
          }
          .project-titel{
            position: absolute;
            top: 232px;
            left: 26px;
            font-weight: 700;
            font-size: 1rem;
            color: $white;
            z-index: 20;
          }
          .background-image{
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 10;
            &:before{
              position: absolute;
              content:'';
              top: 0px;
              left: 0px;
              right: 0px;
              bottom: 0px;
              z-index: 11;
              background-color: rgba($blue, .6);
            }
          }
        }
      }
    }
  }
  &.callout{
    position: relative;
    background-image: url('../images/background-pattern-light-mirrored.png'), url('../images/background-pattern-dark.png'), url('../images/background-blue-medium.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 80px 70px -70px $black;
    &-small{
      padding-top: 5rem;
      padding-bottom: 5rem;
      text-align: center;
      span{
        font-weight: 500;
        font-size: 1.3rem;
      }
    }
  }
  &.blog{
    background-color: #f5f6f7;
    padding-top: 80px;
    margin-top: -80px;
    z-index: 0;
    .title{
      text-align: left;
    }
    .slick-blog{
      margin-left: -$grid-gutter-width;
      &:before{
        position: absolute;
        top: -40px;
        right: 40px;
        padding-left: 25px;
        content:'Swipe';
        background-image: url('../images/assets-sprite.png');
        background-position: -405px -170px;
        background-repeat: no-repeat;
      }
      .slick-slide{
        width: 394px;
        margin-bottom: 16px;
        padding: 0 17px;
        border-radius: 2px;
        &:first-of-type{
          width: $grid-gutter-width;
        }
        .blog-item{
          padding: 38px;
          background-color: $white;
          box-shadow: 0px 2px 8px -2px rgba($blue, .4);
          p{
            line-height: 2;
            margin-bottom: .5rem;
          }
          .more{
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: $blue-light;
            &:after{
              position: absolute;
              content:'';
              width: 100%;
              height: 2px;
              left: 0px;
              background-color: $blue-light;
              bottom: 0px;
            }
          }
        }
      }
    }
  }
  &.gallery-icons{
    z-index: 1;
    .slick-gallery{
      .gallery-item{
        display: block !important;
        border-radius: 2px;
        .title{
          position: absolute;
          height: 64px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          padding-top: 22px;
          padding-left: 20px;
          z-index: 0;
          color: $white;
          font-size: 1.2rem;
          font-family: 'Prompt', sans-serif;
          font-weight: 400;
          background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.8) 100%);
          background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.8) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#99000000',GradientType=0 );
          a{
            position: relative;
            text-transform: uppercase;
            color: #b5dcfc;
            padding: .4rem .2rem;
            text-decoration: none;
            font-weight: 500;
            &:after{
              position: absolute;
              content: "";
              height: 12px;
              background-color: #02183c;
              left: 0;
              right: 0;
              bottom: .5rem;
              z-index: -1;
            }
          }
        }
      }
      .slick-dots{
        position: absolute;
        right: 16px;
        bottom: 10px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
          display: inline-block;
          width: 14px;
          height: 14px;
          background-color: #dedede;
          margin-left: 7px;
          cursor: pointer;
          &.slick-active{
            background-color: #7fb5df;
          }
          button{
            width: 16px;
            height: 16px;
            background-color: transparent;
            color: transparent;
            font-size: 0;
            line-height: 0;
            border: 0;
          }
        }
      }
    }
    .icons{
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
      .icon{
        padding-top: 1rem;
        .link{
          position: relative;
          display: inline-block;
          text-decoration: none;
          padding-top: 80px;
          &:before{
            position: absolute;
            content:'';
            width: 60px;
            height: 60px;
            top: 0;
            left: calc(50% - 30px);
            background-image: url('../images/assets-sprite.png');
            background-position: 0px 0px;
            background-repeat: no-repeat;
          }
          &:after{
            position: absolute;
            content:'';
            width: 100%;
            height: 2px;
            left: 0px;
            background-color: $blue-light;
            bottom: 0px;
          }
        }
        &.energy{
          .link:before{
            background-position: -375px 0px;
          }
        }
        &.food{
          .link:before{
            background-position: -315px 0px;
          }
        }
        &.health{
          .link:before{
            background-position: -255px 0px;
          }
        }
        &:hover{
          &.energy{
            .link:before{
              background-position: -375px -60px;
            }
          }
          &.food{
            .link:before{
              background-position: -315px -60px;
            }
          }
          &.health{
            .link:before{
              background-position: -255px -60px;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md){
  section{
    &.reviews{
      .title{
        border-right: 2px solid #7fb5df;
      }
    }
    &.blog{
      .title{
        text-align: right;
        border-right: 2px solid #7fb5df;
        padding-right: 56px;
      }
      .positioned{
        position: absolute;
      }
    }
  }
}
@include media-breakpoint-down(sm){
  section{
    &.content-tabs{
      .tabs-nav{
        .nav-item{
          width: 100%;
        }
      }
    }
    &.gallery-icons{
      .slick-gallery{
        margin-bottom: 20px;
        .slick-dots{
          bottom: -34px;
          right: 0px;
        }
      }
    }
    &.projects{
      .slick-projecten{
        .slick-slide:first-of-type{
          width:20px;
        }
      }
    }
  }
}
